<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/css/SignUp.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="container">
    <h2>Sign Up</h2>
    
    <!-- Sign-Up Form -->
    <span class="message" id="Name_message"></span>
    <input type="text" id="name" placeholder="Name" required />
    <span class="message" id="Email_message"></span>
    <input type="email" id="email" placeholder="Email" required />
    <span class="message" id="Password_message"></span>
    <input type="password" id="password" placeholder="Password" required />
  
    <button onclick="registerUser()">Sign Up</button>
    <a href="/SignIn">I have already account ? Sign In here</a>
</div>
</body>
<script scr="static/js/SignUp.js"></script>
</html>
