<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="static/css/SignIn.css">
</head>
<body>

<div class="container">
    <h2>Login</h2>
    <div class="message" id="message"></div>
    <input type="email" id="email" placeholder="Email" required />
    <input type="password" id="password" placeholder="Password" required />
    <button onclick="loginUser()">Login</button>
    <!--<a class="signup-link" href="/SignUp">Don't have an account? Sign up here</a>--> 
</div>

<script scr="static/js/SignIn.js"></script>

</body>
</html>
